[submodule "lib/nanogui"]
	path = lib/nanogui
	url = https://github.com/wjakob/nanogui.git
[submodule "lib/Box2D-cmake"]
	path = lib/Box2D-cmake
	url = https://github.com/tobanteGaming/Box2D-cmake.git
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json.git
